@page
@model RichsSnackRack.Pages.CreateOrderModel

@{
    ViewData["Title"] = "Order";
}

<h1>Create Order</h1>

<h4>Snack Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Snack.Id" />
            <img src="~/FoodImages/@Model.Snack.ImageUrl" class="rounded-circle" height="100" width="100" />
            <div class="form-group">
                <label asp-for="Snack.Name" class="control-label"></label>
                <input asp-for="Snack.Name" class="form-control" readonly />
                <span asp-validation-for="Snack.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Snack.Price" class="control-label"></label>
                <input asp-for="Snack.Price" class="form-control" readonly />
                <span asp-validation-for="Snack.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Order Snack" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <h3>Discount Buttons</h3>
            <button class="btn btn-warning" id="adjustPriceBtn">Adjust Price</button>
            <button class="btn btn-warning" id="zeroPriceBtn">Free Give Away</button>
            <button class="btn btn-warning" id="halfOffPriceBtn">Half off</button>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    const adjustPriceBtn = document.getElementById("adjustPriceBtn");
    if (adjustPriceBtn) {
        adjustPriceBtn.addEventListener('click', (event) => {
            applyDiscount(event.target.getAttribute('id'))
        });
    };

    const zeroPriceBtn = document.getElementById("zeroPriceBtn");
    if (zeroPriceBtn) {
        zeroPriceBtn.addEventListener('click', (event) => {
            applyDiscount(event.target.getAttribute('id'))
        });
    };

    const halfOffPriceBtn = document.getElementById("halfOffPriceBtn");
    if (halfOffPriceBtn) {
        halfOffPriceBtn.addEventListener('click', (event) => {
            applyDiscount(event.target.getAttribute('id'))
        });
    };

    function applyDiscount(discountButtonName) {
        const snackPrice = document.getElementById('Snack_Price');
        switch (discountButtonName) {
            case "adjustPriceBtn":
                snackPrice.removeAttribute('readonly');
                break;
            case "zeroPriceBtn":
                snackPrice.value = 0
                break;
            case "halfOffPriceBtn":
                snackPrice.value = (snackPrice.value / 2).toFixed(2);
                break;
            default:
                break;
        };
    }
</script>