@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table class="table table-borded table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Snack</th>
                <th></th>
                <th>Price</th>
                <th>Place Order</th>
            </tr>
        </thead>

        @if (Model.snacks.Count is not 0)
        {
            foreach (var item in Model.snacks)
            {
                <tbody>
                    <tr>
                        <td>@item.Name</td>
                        <td><img src="~/FoodImages/@item.ImageUrl" class="rounded-circle" height="100" width="100"  alt=""/></td>
                        <td>@item.Price</td>
                        <td><a input="submit" class="btn btn-warning" asp-page="./CreateOrder" asp-route-id="@item.Id">Order Snack</a></td>
                    </tr>
                </tbody>
            }
        }

    </table>
</div>