@page
@model RichsSnackRack.Pages.OrderConfirmationModel
@{
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="~/js/Ordering/Orders.js" asp-append-version="true" defer></script>
<div id="orderDetailReceiptId">
    <div class="text-center">
        <h1>Order Confirmed</h1>
        <a href="#" data-toggle="tooltip" data-placement="left" title="Click To Copy"><h1 id="orderDetailLink">@Model.Id</h1></a>
        <div hidden id="hiddenOrderDetailId">@Model.Id</div>
    </div>
</div>

<div class="text-center">
    <button id="downloandOrderDetailReceiptId" class="btn btn-warning">Download Order Receipt</button>
</div>